<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>

</head>
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">ARTIST SEARCHER</a>
    <form class="form-inline" action="/celebrities">
        <input class="form-control mr-sm-4" name="artist" type="search" placeholder="Search any artists" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <form action="/celebrities/create">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">+</button>
        </button>
    </form>

</nav>

<body>
    {{{ body }}}
</body>

</html>